
    /* border: 1px solid black; */
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .one-card {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .imagen-port {
    width: 45%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-box{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url(IMG/portada.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }

  .content-port{
    width: 55%;
    height: 100%;
    background-color: #919191;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  @media (max-width: 550px) {
    .container {
        height: 90vh;
    }
    .one-card {
        flex-direction: column;
    }

    .imagen-port {
        width: 100%;
        height: 40%;
        padding-top: 5px;
        padding-bottom: 5px;
      }

    .img-box{
        width: 180px;
        height: 180px;
        background-position: center;
        border-radius: 50%;
    }

    .content-port{
        width: 100%;
        height: 60%;
    }
  }

  /* COMPETENCIAS */

  .container-two {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .two-card {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .title-two{
    width: 45%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-two h1{
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: #919191;
    text-align: center;
  }

  .content-two{
    width: 55%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .content-two-chek{
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
  }

  .content-two-chek i {
    color: #919191;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .content-two-chek span {
    font-size: 20px;
    font-weight: bold;
    color: #919191;
    font-family: Arial, sans-serif;
  }
  

  @media (max-width: 550px) {
    .container-two {
        height: 70vh;
    }
    .two-card {
        flex-direction: column;
    }

    .title-two {
        width: 100%;
        height: 20%;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .title-two h1{
        font-family: Arial, sans-serif;
        font-size: 16px;
      }

    .content-two{
        width: 100%;
        height: 80%;
        background-color: #919191;
    }

    
    .content-two-chek{
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
    }
    .content-two-chek i {
        color: #fff;
        font-size: 1rem;
        margin-right: 1rem;
      }
    
      .content-two-chek span {
        font-size: 14px;
        color: #fff;
        font-weight: bold;
      }
  }

  /* RECURSOS TECNOLOGICOS */
  .container-tree {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 3%;
    background-color: #f0f0f0;
  }

  .tree-card {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .title-tree{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 7%;
  }

  .title-tree h1{
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #919191;
    text-align: start;
  }

  .content-tree {
    width: 100%;
    height: auto; /* Cambia a auto para que ajuste según el contenido */
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: flex-start; /* Alinea los elementos al inicio */
    justify-content: space-evenly;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
  }

.content-tree-logo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la imagen y el texto */
    width: calc(16.66% - 20px); /* 6 logos por fila menos el margen */
    margin: 10px; /* Espaciado entre logos */
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total */
}

.content-tree-logo img {
    max-width: 120px; /* Hace que la imagen sea responsiva */
    height: auto; /* Mantiene la relación de aspecto */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.111);
}

.content-tree-logo p {
    text-align: center; /* Centra el texto debajo de la imagen */
    font-size: 12px;
    font-weight: bold;
    color: #919191;
    font-family: Arial, sans-serif;
}

@media (max-width: 550px) {

  .content-tree-logo {
    box-shadow: 0 2px 8px rgba(56, 56, 56, 0.455);
    width: calc(33.33% - 20px); /* 3 logos por fila en pantallas más pequeñas */
  }

  .title-tree h1{
    padding-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  .content-tree-logo img {
    box-shadow: none;
    max-width: 80px;
    height: auto;
  }

  .content-tree {
    padding-top: 10px;
    height: auto;
    background-color: #ffffff;
  }

  .container-tree {
    padding-top: 7%;
    height: auto;
  }

  .content-tree-logo p {
    color: #919191;
  }
}
