/* border: solid 1px red; */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    background: #222;
    overflow-x: hidden;
}
.hero-header{
    padding-top: 80px;
    width:100%;
    height: auto;
    background: #222;
    
}

/* MENU DE NAVEGACION */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(198, 198, 198, 0.086);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.053);
    flex-wrap: wrap;
    z-index: 100;
}
 
.header h1 {
    color: #e6e6e6;
    margin: 0;
    font-size: 24px;
}
.nav {
    display: flex;
    gap: 20px;
}
.nav a {
    text-decoration: none;
    color: #e6e6e6;
    font-weight: bold;
}
.nav a:hover {
    color: #007BFF;
}
.menu-button {
    display: none;
    padding: 10px 15px;
    background-color: #0467c4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}
.menu-button:hover {
    background-color: #0056b3;
}
@media (max-width: 600px) {
    .header {
        background: rgba(198, 198, 198, 0.086);
        flex-direction: column;
        align-items: start;
    }

    .header-movil{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        display: none;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
    .nav.active {
        display: flex;
    }
    .menu-button {
        display: block;
        margin-top: 0px;
        margin-left: auto;
    }
    .header h1 {
        font-size: 20px;
    }
}

/* CONTENIDO PRINCIPAL */
.wrapper{
    width:1280px;
    max-width: 95%;
    margin: 0px auto;
    padding: 0 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:4rem;
}
.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.hero-pic img{
    height: 100%;
    width:100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color:#e5e5e5;
    font-size: 14px;
}
.hero-text h5 span{
    color:#007ced;
    font-size: 16px;
}
.hero-text h1{
    color: #007ced;
    font-size: 3rem;
}
.hero-text p{
    font-size: 14px;
    text-align:left;
    color:#e5e5e5;
    line-height: 24px; 
}
.btn-group{
    margin:45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color:#fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right:7px;
    border-radius: 30px;
    border:2px solid #e5e5e5;
    box-shadow:  0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn.active{
    border-color: #007ced;
}
.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color:#007ced;
    transform: rotate(360deg);
}

@media(max-width:768px)
{
    .hero-header{
        padding-top: 50px;
        width:100%;
        height: auto;
    }
    .container{
        flex-direction: column;
        padding-top:2rem
    }
    .hero-text{
        padding:40px 0px;
    }
}

/* tecnologia */
.container-tecnologi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 3% 0;
    background: #222;
  }

 .container-tecnologi h1 {
    color: #e6e6e6;
    margin: 13px 0;
    font-size: 24px;
    margin-right: auto;
    margin-left: 6%;
    opacity: 0; /* Inicialmente oculto */
    transform: translateX(-100%); /* Comienza fuera de la vista */
    transition: opacity 0.9s ease, transform 0.9s ease; /* Transición suave */
}

  .content-tecnologi {
    width: 90%;
    height: auto; /* Cambia a auto para que ajuste según el contenido */
    background: rgba(198, 198, 198, 0.086);
    border-radius: 10px;
    display: flex;
    align-items: flex-start; /* Alinea los elementos al inicio */
    justify-content: space-evenly;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas */
  }

.content-tecnologi-logo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la imagen y el texto */
    width: calc(16.66% - 20px); /* 6 logos por fila menos el margen */
    margin: 10px; /* Espaciado entre logos */
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total */
}

.content-tecnologi-logo img {
    max-width: 120px; /* Hace que la imagen sea responsiva */
    height: auto; /* Mantiene la relación de aspecto */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.111);
}

.content-tecnologi-logo p {
    text-align: center; /* Centra el texto debajo de la imagen */
    padding-top: 6px;
    font-size: 12px;
    font-weight: bold;
    color: #e5e5e5;
    font-family: Arial, sans-serif;
}

@media (max-width: 550px) {

  .content-tecnologi-logo {
    box-shadow: 0 2px 8px rgba(56, 56, 56, 0.455);
    width: calc(33.33% - 20px); /* 3 logos por fila en pantallas más pequeñas */
  }

  .content-tecnologi-logo img {
    box-shadow: none;
    max-width: 80px;
    height: auto;
  }

  .container-tecnologi h1{
    font-size: 20px;
 } 
}
