/* border: solid 1px red; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: none;
}

body {
    background: #222;
    overflow-x: hidden;
    border: solid 1px red; 
}
#particles-js {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

/* PRIMERA SECCION MUESTRA EL MENU Y INFORMACION SOBRE MI*/
.hero-header {
    padding-top: 80px;
    width: 100%;
    height: auto;
    position: relative; /* Necesario para el posicionamiento del canvas */
}





/* MUESTRA EL MENU DE NAVEGACION RESPONSIVO */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(198, 198, 198, 0.086);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.053);
    flex-wrap: wrap;
    z-index: 100;
}

.header h1 {
    color: #e6e6e6;
    margin: 0;
    font-size: 24px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #e6e6e6;
    font-weight: bold;
}

.nav a:hover {
    color: #007BFF;
}

.menu-button {
    display: none;
    padding: 10px 15px;
    background-color: #0467c4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

.menu-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .header {
        background: rgba(198, 198, 198, 0.086);
        flex-direction: column;
        align-items: start;  /* CAMBIO DE POSICION MENU RESPOSIVE */
    }

    .header-movil {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        display: none;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .nav.active {
        display: flex;
    }

    .nav a {
        margin: 5px 0;
    }

    .menu-button {
        display: block;
        margin-top: 0px;
        margin-left: auto;
    }

    .header h1 {
        font-size: 20px;
    }
}

/* CONTENIDO PRINCIPAL DE LA PRIMERA SECCION SOBRE MI*/
.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0px auto;
    padding: 0 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.2);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #e5e5e5;
    font-size: 14px;
}

.hero-text h5 span {
    color: #007ced;
    font-size: 16px;
}

.hero-text h1 {
    color: #007ced;
    font-size: 3rem;
}

.hero-text p {
    font-size: 14px;
    text-align: left;
    color: #e5e5e5;
    line-height: 24px;
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.btn.active {
    border-color: #007ced;
}

.hero-text .social i {
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}


.hero-text .social i:hover {
    color: #007ced;
    transform: rotate(360deg);
}

@media(max-width:768px) {
    .hero-header {
        padding-top: 50px;
        width: 100%;
        height: auto;
    }

    .container {
        flex-direction: column;
        padding-top: 2rem
    }

    .hero-text {
        padding: 40px 0px;
    }
}

/* MUESTRA SEGUNDA SECCION SOBRE LAS TECNOLOGIAS QUE USO */
.container-tecnologi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 3% 0;
}

.content-tecnologi {
    width: 90%;
    height: auto;
    padding: 10px;
    background: rgba(198, 198, 198, 0.086);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: rgba(255, 255, 255, 0.331) 0px 1px 4px;
    animation: new 2s infinite; /* Efecto de respiración */
}

@keyframes new {
    0%, 100% {
        box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px; /* Sombra inicial */
    }
    50% {
        box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 6px; /* Sombra más intensa */
    }
}


.container-tecnologi h1 {
    color: #e6e6e6;
    margin: 13px 0;
    font-size: 24px;
    margin-right: auto;
    margin-left: 6%;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.content-tecnologi-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(16.66% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.content-tecnologi-logo img {
    max-width: 120px;
    height: auto;
}

.content-tecnologi-logo p {
    text-align: center;
    padding-top: 6px;
    font-size: 12px;
    font-weight: bold;
    color: #e5e5e5;
    font-family: Arial, sans-serif;
}

@media (max-width: 768px) {

    .content-tecnologi-logo {
        width: calc(33.33% - 20px);
    }

    .content-tecnologi-logo img {
        box-shadow: none;
        max-width: 80px;
        height: auto;
    }

    .container-tecnologi h1 {
        font-size: 20px;
    }
}

/* MUESTRA SEGUNDA SECCION SOBRE LOS PROYECTOS QUE REALICE */
.container-proyect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0% 0;
}

.container-proyect h1 {
    color: #e6e6e6;
    margin: 13px 0;
    font-size: 24px;
    margin-right: auto;
    margin-left: 6%;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.content-proyect {
    width: 90%;
    height: auto;
    padding: 20px; /* Aumenté el padding para mejor espaciado */
    background: rgba(198, 198, 198, 0.086);
    box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 20px;
    display: grid; /* Usamos grid para un mejor control */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    grid-gap: 20px; /* Espacio entre las tarjetas */
    animation: breathe 2s infinite; /* Efecto de respiración */
}
@keyframes breathe {
    0%, 100% {
        box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px; /* Sombra inicial */
    }
    50% {
        box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 6px; /* Sombra más intensa */ /* Sombra más intensa */
    }
}

.card {
    background-color: #333; /* Color de fondo de las tarjetas */
    border-radius: 10px;
    
    overflow: hidden; /* Para que la imagen no se salga */
    transition: transform 0.3s ease; /* Transición suave para el hover */
    display: flex; /* Usamos flexbox para las imágenes */
    flex-direction: column; /* Las imágenes se apilan verticalmente */
    
}


.card:hover {
    transform: scale(1.05); /* Escala ligeramente al pasar el mouse */
}

.card img {
    width: 100%;
    height: auto; /* Altura automática para mantener la proporción */
    max-height: 200px; /* Altura máxima para evitar imágenes demasiado grandes */
    object-fit: cover; /* Para que la imagen cubra todo el espacio */
    display: block; /* Evita espacios extra debajo de la imagen */
}

.card-content {
    padding: 15px;
    color: #eee;
}

.card-content p {
    margin: 0;
    font-size: 14px;
    text-align: left;
    color: #e5e5e5;
    font-weight: bold;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija */
    z-index: 1000; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
    justify-content: center; /* Centrado */
    align-items: center; /* Centrado */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
}

.modal-content {
    max-width: 90%; /* Máximo ancho */
    max-height: 90%; /* Máxima altura */
}

.close {
    position: absolute; /* Posición absoluta */
    top: 20px; /* Espaciado desde arriba */
    right: 30px; /* Espaciado desde la derecha */
    color: white; /* Color del ícono */
    font-size: 30px; /* Tamaño del ícono */
    cursor: pointer; /* Cursor de puntero */
    z-index: 1001;
}


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .container-proyect h1 {
        font-size: 20px;
    }
    .content-proyect {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    }
    .card img {
        height: 150px; /* Altura de imagen más pequeña */
    }
    .card-content {
        padding: 10px;
        color: #eee;
    }

    .card-content p {
        font-size: 12px;
        
    }
}