html {
    scroll-behavior: smooth; 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins, sans-serif;
    text-decoration: none;
}

body {
    background: #222;
    overflow-x: hidden;
}

/* background dl body con efectos de movimientos */
@keyframes hero-gradient-animation {
    0% {
        --y-0: 16%;
        --s-start-0: 9%;
        --s-end-0: 58.89119889119889%;
        --c-0: hsla(209.14285714285717, 88%, 30%, 1);
        --x-0: 13%;
        --y-1: 89%;
        --s-start-1: 9%;
        --s-end-1: 58.89119889119889%;
        --c-1: hsla(209.11764705882354, 88%, 31%, 0.71);
        --x-1: 14%;
        --y-2: 23%;
        --x-2: 23%;
        --c-2: hsla(264, 73%, 3%, 1);
        --s-start-2: 2%;
        --s-end-2: 60%;
    }

    100% {
        --y-0: 18%;
        --s-start-0: 4%;
        --s-end-0: 60%;
        --c-0: hsla(0, 0%, 60%, 1);
        --x-0: 95%;
        --y-1: 47%;
        --s-start-1: 4.5991935069083505%;
        --s-end-1: 60%;
        --c-1: hsla(213.08823529411762, 68%, 43%, 0.43);
        --x-1: 97%;
        --y-2: 91%;
        --x-2: 92%;
        --c-2: hsla(27.79411764705882, 0%, 60%, 1);
        --s-start-2: 4%;
        --s-end-2: 73%;
    }
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 16%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 58.89119889119889%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(209.14285714285717, 88%, 30%, 1)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 89%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 58.89119889119889%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(209.11764705882354, 88%, 31%, 0.71)
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 14%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 23%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 23%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(264, 73%, 3%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

body {
    --y-0: 16%;
    --c-0: hsla(209.14285714285717, 88%, 30%, 1);
    --x-0: 13%;
    --y-1: 89%;
    --c-1: hsla(209.11764705882354, 88%, 31%, 0.71);
    --x-1: 14%;
    --y-2: 23%;
    --x-2: 23%;
    --c-2: hsla(264, 73%, 3%, 1);
    ;
    background-color: hsla(0, 0%, 13%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2));
    animation: hero-gradient-animation 5s linear infinite alternate-reverse;
    background-blend-mode: overlay, normal, normal;
}

/* PRIMERA SECCION MUESTRA EL MENU Y INFORMACION SOBRE MI*/
.hero-header {
    padding-top: 80px;
    width: 100%;
    height: auto;
}

/* MUESTRA EL MENU DE NAVEGACION RESPONSIVO */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(198, 198, 198, 0.086);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.053);
    flex-wrap: wrap;
    z-index: 100;
}

.header h1 {
    color: #e6e6e6;
    margin: 0;
    font-size: 24px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #e6e6e6;
    font-weight: bold;
}

.nav a:hover {
    color: #007BFF;
}

.menu-button {
    display: none;
    padding: 10px 15px;
    background-color: #0467c4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}

.menu-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .header {
        background: rgba(198, 198, 198, 0.086);
        flex-direction: column;
        align-items: start;
    }

    .header-movil {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav {
        display: none;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .nav.active {
        display: flex;
    }

    .nav a {
        margin: 5px 0;
    }

    .menu-button {
        display: block;
        margin-top: 0px;
        margin-left: auto;
    }

    .header h1 {
        font-size: 20px;
    }
}

/* CONTENIDO PRINCIPAL DE LA PRIMERA SECCION SOBRE MI*/
#wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0px auto;
    padding: 0 20px;
    scroll-margin-top: 60px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;

}

.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.2);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #e5e5e5;
    font-size: 14px;
}

.hero-text h5 span {
    color: #007ced;
    font-size: 16px;
}

.hero-text h1 {
    color: #007ced;
    font-size: 3rem;
}

.hero-text p {
    font-size: 14px;
    text-align: left;
    color: #e5e5e5;
    line-height: 24px;
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.btn.active {
    border-color: #007ced;
}

.hero-text .social i {
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}


.hero-text .social i:hover {
    color: #007ced;
    transform: rotate(360deg);
}

@media(max-width:768px) {
    .hero-header {
        padding-top: 50px;
        width: 100%;
        height: auto;
    }

    .container {
        flex-direction: column;
        padding-top: 2rem
    }

    .hero-text {
        padding: 40px 0px;
    }
}

/* MUESTRA SEGUNDA SECCION SOBRE LAS TECNOLOGIAS QUE USO */
#container-tecnologi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 3% 0;
    scroll-margin-top: 60px;
}

.content-tecnologi {
    width: 90%;
    height: auto;
    padding: 10px;
    background: rgba(198, 198, 198, 0.086);
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: rgba(255, 255, 255, 0.331) 0px 1px 4px;
    animation: new 2s infinite;
}

@keyframes new {

    0%,
    100% {
        box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
    }

    50% {
        box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 6px;
    }
}


#container-tecnologi h1 {
    color: #e6e6e6;
    margin: 13px 0;
    font-size: 24px;
    margin-right: auto;
    margin-left: 6%;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.content-tecnologi-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(16.66% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.bouncing-icon {
    animation: bounce 1.7s ease-in-out infinite;
    display: inline-block;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(2) scaleY(1);
    }

    40% {
        transform: translateY(-8px) scaleY(1);
    }
}

.content-tecnologi-logo p {
    text-align: center;
    padding-top: 6px;
    font-size: 12px;
    font-weight: bold;
    color: #e5e5e5;
    font-family: Arial, sans-serif;
}

@media (max-width: 768px) {

    .content-tecnologi-logo {
        width: calc(33.33% - 20px);
    }

    .content-tecnologi-logo img {
        box-shadow: none;
        max-width: 80px;
        height: auto;
    }

    #container-tecnologi h1 {
        font-size: 20px;
    }
}

/* MUESTRA TERCERA SECCION SOBRE LOS PROYECTOS QUE REALICE */
#container-proyect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 50px;
    scroll-margin-top: 60px;
}

#container-proyect h1 {
    color: #e6e6e6;
    margin: 13px 0;
    font-size: 24px;
    margin-right: auto;
    margin-left: 6%;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.content-proyect {
    width: 90%;
    height: auto;
    padding: 20px;
    background: rgba(198, 198, 198, 0.086);
    box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    animation: breathe 2s infinite;
}

@keyframes breathe {

    0%,
    100% {
        box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
    }

    50% {
        box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 6px;
    }
}

.card {
    background: rgba(70, 70, 70, 0.267);
    border: rgba(156, 156, 156, 0.658) 1px solid;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.03);
}

.card {
    position: relative;
    overflow: hidden;
}

.image-container {
    position: relative; /* Para posicionar el overlay relativo a la imagen */
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    transition: opacity 0.5s ease; 
}

.overlay {
    position: absolute;
    top: 0; /* Asegura que el overlay comienza desde la parte superior de la imagen */
    left: 0; /* Asegura que el overlay comienza desde la parte izquierda de la imagen */
    width: 100%; /* Asegura que el overlay cubre toda la imagen */
    height: 100%; /* Asegura que el overlay cubre toda la imagen */
    background: rgba(90, 90, 90, 0.5); /* Fondo oscuro para la opacidad */
    backdrop-filter: blur(3px); /* Aplica el efecto de desenfoque */
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex; /* Para centrar el texto */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    transition: opacity 0.8s ease;
    cursor: pointer;
    pointer-events: none; 
}

.overlay:focus {
    outline: none; /* Asegura que no haya outline en el foco */
}

.overlay i{
    padding: 10px;
    animation: bounce 1.7s ease-in-out infinite;
}

.overlay p {
    animation: bounce 1.7s ease-in-out infinite;
}


.image-container:hover .overlay {
    opacity: 0; /* Hace que el overlay se desvanezca al pasar el ratón */
}

.image-container:hover img {
    opacity: 0.9; /* Hace que la imagen se desvanezca al pasar el ratón */
}

.card-content {
    padding: 15px;
    color: #eee;
}

.card-content p {
    margin: 0;
    font-size: 14px;
    text-align: left;
    color: #e5e5e5;
    font-weight: bold;
}

.bouncing-p {
    animation: bounce 1.7s ease-in-out infinite;
    display: inline-block;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(1px) scaleY(1);
    }

    40% {
        transform: translateY(-3px) scaleY(1);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.5s, width 0.5s, height 0.5s; /* Transiciones suaves */
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
}


#prevButton, #nextButton {
    position: absolute; /* Posiciona los botones de forma absoluta */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    background: none;
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cursor de puntero */
    font-size: 24px; /* Tamaño de la fuente */
    border-radius: 5px; /* Bordes redondeados */
    z-index: 1005; /* Asegúrate de que esté por encima del contenido */
}

#prevButton {
    left: 20px; /* Posición a la izquierda */
}

#nextButton {
    right: 20px; /* Posición a la derecha */
}



@media (max-width: 768px) {

    #container-proyect h1 {
        font-size: 20px;
    }

    .content-proyect {
        grid-template-columns: repeat(1, 1fr);
    }

    .card img {
        height: 200px;
    }

    .card-content {
        padding: 10px;
        color: #eee;
    }

    .card-content p {
        font-size: 14px;
    }
    .modal-content {
        max-width: 80%;
        max-height: 90%;
    }


}

@media (max-width: 600px) {

    .modal-content {
        max-width: 100%;
        max-height: 100%;
    }

    #prevButton, #nextButton {
        background-color: #2222228f;
        border-radius: 50%;
        box-shadow: rgba(255, 255, 255, 0.301) 1.95px 1.95px 2.6px;
        padding: 0px;
        width: 40px; /* Ajusta el ancho según sea necesario */
        height: 40px; /* Ajusta la altura según sea necesario */
        display: flex; /* Para centrar el contenido */
        align-items: center; /* Centra verticalmente el contenido */
        justify-content: center; /* Centra horizontalmente el contenido */
        top: 80%;
    }

    #prevButton {
        left: 30%;
    }
    
    #nextButton {
        right: 30%;
    }

}


/* MUESTRA LA CUARTA SECCION - FOOTER DE CONTACTO */
#footer {
    position: relative;
    width: 100%;
    background: rgba(198, 198, 198, 0.086);
    backdrop-filter: blur(10px);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icon:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem {
    list-style: none;
}

.menu-icon {
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu-icon:hover {
    opacity: 1;
}

.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}